/* CSS declarations go here */

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

p {
    font-size: 1.2em;
}

a.navbar-brand {
    font-size: 23px;
}

a {
    font-size: 18px;
}

.create-panel {
    padding-top: 20px;
    padding-bottom: 10px;
}

.create-button {
    padding-left: 30px;
    padding-right: 30px;
}

.insert-text {
    border-radius: 6px;
    margin-right: 25px;
    padding-right: 35px;
    padding-top: 8px;
    padding-bottom: 12px;
}

input[placeholder] {
    font-size: 16px;
}

.join {
    margin-top: 20px;
    margin-bottom: 20px;
}


/** Custome bootstrap */
.navbar {
  margin-bottom: 0;
}

#login-dropdown-list .dropdown-menu {
  min-width: 350px;
}

@media (max-width: 767px) {
  ul.navbar-right {
    position: absolute;
    padding-left: 60px;
  }
}
