<template name="about">
  <div class="container">
    <div class="row jacek">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <img class="portrait" src="/images/Jacek_cut.png">
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <h3>Jacek Migdal</h3>
                    <a href="mailto:jacek@migdal.pl" target="_blank"><img class="envelope" src="/images/envelope.png" title="Send email to Jacek"></a>
                    <a href="https://twitter.com/jakozaur" target="_blank"><img src="/images/twitter.png"></a>
                    <p class="about">Software engineer with astonishing ideas who loves solving hard problems. Codes whatever it takes to achieve success. Holds MSc in Computer Science from University of Warsaw. Alumni of National Association for Gifted Children. Got two bronze medals in Polish Olympiad in Informatics.</p>
                    <p class="about">He had a chance to intern at companies, which names everyone knows: NVIDIA and Facebook. Originally from Poland, now he enjoys living in Silicon Valley and proudly works for Big Data startup <a href="https://sumologic.com/" target="_blank">Sumo Logic</a>.</p><p class="about">Jacek likes hiking, traveling and hacking. He is a huge fan of Hacker News.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row gosia">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <img class="portrait" src="/images/Gosia_cut.png">
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <h3>Gosia Migdal</h3><a href="mailto:gosia@migdal.pl" target="_blank"><img class="envelope" src="/images/envelope.png" title="Send email to Gosia"></a>
                    <a href="https://twitter.com/gosiamigdal" target="_blank"><img src="/images/twitter.png"></a>
                    <p class="about">Multidisciplinary creature, passionate about people and technology. Gosia used to work on neuroscience research and holds MSc in Psychology from University of Warsaw.</p> <p class="about">After doing usability research for both startup and corporate she decided to learn programming. She recently finished Hackbright Academy in San Francisco. Now she is proudly working at startup <a href="https://codility.com/" target="_blank">Codility</a>, helping it with global expansion.</p><p class="about">Gosia loves traveling, eating food from all over the world, reading books and discovering new smells. </p>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>
