<template name="done">
  <div class="container task-container">
    <div class="row">
      <div class="col-md-9 col-lg-9">
        {{> hello}}
        {{> task}}
      </div>
      <div class="col-md-3 col-lg-3">
        {{> calendar}}
        {{> team}}
      </div>
    </div>
  </div>
</template>

<template name="hello">
    <h1>{{date}} {{groupName}} have done:</h1>
</template>

<template name="team">
  <div class="team">
    <h3>Team</h3>
    <ul>
      {{# each members}}
        {{> teamMember}}
      {{/each}}
    </ul>
    <div>
      <h3 id="team-invitations-header" class="collapsed" data-toggle="collapse" data-target="#team-invitations">Sent {{invitationNumber}} invitations</h3>
      <ul id="team-invitations" class="collapse">
        {{# each invitations}}
          {{> teamInvitation}}
        {{/each}}
      </ul>
    </div>
    <input type="text" placeholder="Email address" />
    <input type="button" value="Invite" />
    <p class="added-message" style="display: none;">You have added {{addedEmail}}</p>
  </div>
</template>

<template name="teamInvitation">
  <li>{{email}}</li>
</template>

<template name="teamMember">
  <li>
    {{# if hasAvatar}}<img src="{{avatarUrl}}" />{{/if}}
    <p title="{{email}}">{{name}}</p>
  </li>
</template>

<template name="task">
  <div class="new-task">
    <input class="new_item" type="text" placeholder="E.g. 1h 30m Prepared presentation" />
    <input type="button" value="Add done task" class="add-task-button" />
  </div>
  {{# each members}}
    {{> taskDoneBy}}
  {{/each}}
</template>

<template name="taskDoneBy">
  <h3>{{# if hasAvatar}}<img class="img-avatar" src="{{avatarUrl}}" />{{/if}}
  {{userName}}, Total time: {{humanTotalTime}}</h3>
  <table class="task">
    {{#each task}}
      {{> taskItem}}
    {{/each}}
  </table>
</template>

<template name="taskItem">
  <tr class="task-item">
    <td><p class="time">{{timeHours}}</p></td>
    <td><p class="time">{{timeMinutes}}</p></td>
    <td class="task-description">
      {{# if editing}}
        <input type="text" value="{{name}}" />
      {{else}}
        <p>{{name}}</p>
      {{/if}}
    </td>
    <td>
      <span title="Edit" class="glyphicon glyphicon-pencil edit {{isMine}}"></span>
    </td>
    <td>
      <span title="Remove" class="glyphicon glyphicon-remove remove {{isMine}}"></span>
    </td>
  </tr>
</template>


