<template name="done">
  <div class="container task-container">
    <div class="row">
      <div class="col-md-9 col-lg-9">
        {{> hello}}
        {{> task}}
      </div>
      <div class="col-md-3 col-lg-3">
        {{> calendar}}
        {{> team}}
      </div>
    </div>
  </div>
</template>

<template name="hello">
    <h1>{{date}} {{groupName}} have done:</h1>
</template>

<template name="team">
  <div class="team">
    <h2>Team</h2>
    <ul>
      {{# each members}}
        {{> teamMember}}
      {{/each}}
    </ul>
    <input type="text" placeholder="Email address" />
    <input type="button" value="Invite" />
    <p class="added-message" style="display: none;">You have added {{addedEmail}}</p>
  </div>
</template>

<template name="teamMember">
  <li>
    {{# if hasAvatar}}<img src="{{avatarUrl}}" />{{/if}}
    <span title="{{email}}">{{name}}</span>
  </li>
</template>

<template name="task">
  <div class="new-task">
    <input class="new_item" type="text" placeholder="E.g. 1h 30m Prepared presentation" />
    <input type="button" value="Add done task" class="add-task-button" />
  </div>
  {{# each members}}
    {{> taskDoneBy}}
  {{/each}} 
</template>

<template name="taskDoneBy">
  <p>{{# if hasAvatar}}<img src="{{avatarUrl}}" />{{/if}}
  {{userName}}, Total time: {{humanTotalTime}}</p>
  <table class="task">
    {{#each task}}
      {{> taskItem}}
    {{/each}}
  </table>
</template>

<template name="taskItem">
  <tr class="task-item">
    <td><p class="time">{{timeHours}}</p></td>
    <td><p class="time">{{timeMinutes}}</p></td>
    <td class="task-description">
      {{# if editing}}
        <input type="text" value="{{name}}" />
      {{else}}
        <p>{{name}}</p>
      {{/if}}
    </td>
    <td>
      <span title="Edit" class="glyphicon glyphicon-pencil edit {{isMine}}"></span>
    </td>
    <td>
      <span title="Remove" class="glyphicon glyphicon-remove remove {{isMine}}"></span>
    </td>
  </tr>
</template>

<template name="invitationItem">
    <div>Invitation to Group {{groupName}} from {{sender}}<input type="button" value="Join" /></div>
</template>
