<template name="home">
  <div class="jumbotron">
    <div class="container">
      <h1>Daily scrum</h1>
      <p>Track what your team got done. Be productivity hero.</p>
      <p></p>
      <a class="btn btn-primary btn-lg signup-button" role="button">Start using it</a>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <h2>Stay informed</h2>
        <p>We send a daily email asking what have you done today.</p>
        <p>Reports are sent to everyone on a team.</p>
        <p>Stay in sync, collaborate better and save time on status meetings.</p>
      </div>
      <div class="col-md-4 col-lg-4">
        <h2>Prioritize/optimize better</h2>
        <p>Time is the most precious resource.</p>
        <p>Use metrics to optimize how your team spend it.</p>
        <p>Automate routine chores, avoid timesinks, be the most productive.</p>
      </div>
      <div class="col-md-4 col-lg-4">
        <h2>Data-driven</h2>
        <p>We collect your done items automatically.</p>
        <p>Use GitHub, Jira, Google Calendar and other integrations... (FUTURE)</p>
      </div>
    </div>
  </div>
</template>
